/*  your css code here. If applicable */
.container{
	overflow:hidden;
	position:relative;
	border-radius:20px;
   height:300px;
	
}
div{
	display:inline-block;
}
img{
	height:300px; 
}
.panel{
	width:30px;
	border-radius:20px;
	overflow:hidden
}
.img-text{
	position:absolute;
	bottom:20px;
	left:10px;
	color:white;
}
.active{
	width:450px
}


